@charset "utf-8";

@media screen and (max-width: 596px) {
	/* ------------------------------------------------------------
	main image style
	------------------------------------------------------------ */
	#mainImage img {
		width: 100%;
		height: auto;
	}
	#main {
		width: auto;
		overflow: auto;
	}
	#mainText {
		float: none;
		width: auto;
		margin-right: 0;
	}
	#mainImage2 {
		text-align: center;
	}
	#mainImage2 img {
		max-width: 100%;
		height: auto;
	}
	
	/* ------------------------------------------------------------
	information style
	------------------------------------------------------------ */
	#information .contents {
		padding: 0 16px;
		overflow-x: auto;
	}
	
	/* ------------------------------------------------------------
	sub photo style
	------------------------------------------------------------ */
	#subPhoto .contents {
		margin: 0;
		padding: 0 16px;
		overflow: auto;
	}
	#subPhoto .inner {
		float: none;
		width: auto;
		margin-right: 0;
	}
	#subPhoto .photo {
		text-align: center;
	}
	#subPhoto .inner img {
		max-width: 100%;
		height: auto;
	}
	
	/* ------------------------------------------------------------
	map access style
	------------------------------------------------------------ */
	#mapAccess .contents {
		width: auto;
		overflow: auto;
	}
	#map {
		float: none;
		position: relative;
		width: 100%;
		height: 0;
		margin-right: 0;
		padding-bottom: 62%;
		overflow: hidden;
	}
	#map iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}
